<h1>タスク編集</h1>
  
<%= form_tag("/tasks/#{@task.id}/update") do %>
  <div class="form-group">
    <textarea name="content" rows="3" class="form-control"><%= @task.content %></textarea>
  </div>
  <input type="submit" class="btn btn-primary" value="編集">
<% end %>