<div class="main">
  <h1>タスク一覧</h1>
  <% @tasks.each do |task| %>
    <div class="tasks-index-item">
      <div class="row">
        <div class="task-left col-sm-8">
          <%= simple_format(task.content) %>
        </div>
        <div class="task-right col-sm-4">
          <div class="task-btn">
            <%= link_to("編集", "/tasks/#{task.id}/edit", class: "btn btn-outline-warning btn-sm") %>
            <%= link_to("削除", "/tasks/#{task.id}/delete", class: "btn btn-outline-warning btn-sm", method: "post") %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
