<h1><%= @user.name %></h1>
<%= link_to("編集", "/users/#{@user.id}/edit", class: "btn btn-warning btn-sm") %>
<%= link_to("削除", "/users/#{@user.id}/delete", class: "btn btn-warning btn-sm", method: "post") %>