// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tasks-index-item {
  padding: 20px 30px;
  margin: 10px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.task-left {
  text-align: left;
  word-wrap: break-word;
}

.task-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}
